*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
    color: #fff;
}

.container {
    padding: 60px 20%;
}

ul li:nth-child(2n){
    color: aquamarine;
    font-weight: bold;
    font-style: italic;
}

