*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
    color: #fff;
}

.container {
    padding: 60px 20%;
}

ul li:nth-child(2n){
    color: aquamarine;
    font-weight: bold;
    font-style: italic;
}

table {
    background-color: cadetblue;
}

thead th:hover {
    background-color: rgb(225, 200, 10);
    color: #ccc;
}

tfoot td:hover {
    background-color: brown;
    color: chartreuse;
}